.container {
    /* padding: 20px; */
    font-family: "poppins", sans-serif;
}

.header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-image: linear-gradient(to right, #000000, #232323, #424242, #626262, #858585);
}

.search {
    width: 30%;
    padding: 12px;
    border-radius: 15px;
    font-size: 2rem;
    background-color: #222;
    border: 1px solid #eee;
    color: #ccc;
}

.search::placeholder {
    color: #eee;
}

.list-project {
    background-image: linear-gradient(to right, #000000, #232323, #424242, #626262, #858585);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    padding: 30px;
    min-height: 100vh;
}

.project-item {
    height: 400px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    position: relative;
    transition: 0.3s linear;
    cursor: pointer;
}

.project-item:hover {
    box-shadow: 0 0 20px #eee;
}

.img {
    height: 70%;
    width: 100%;
}

.info-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: #fff;
    padding: 20px 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 30%;
    min-height: 30%;
}

.info-1 h2 {
    text-align: center;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: 0.3s linear;
}

.project-item:hover img {
    transform: scale(1.1);
}
.info-2 {
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #ccc;
    bottom: -100%;
    padding: 20px;
    transition: 0.3s linear;
    cursor: pointer;
}

.info-2 .title {
    font-size: 2.6rem;
    font-weight: 500;
    line-height: 1.6;
}

strong {
    font-weight: 500;
    font-size: 1.5rem;
}

.desc-if2:nth-child(1) {
    display: block;
}
.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size: 2rem;
    user-select: none;
    position: relative;
    margin: 10px 0px;
    /* padding: 7px 20px; */
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background-size: 200% auto;
    font-weight: 600;
    color: #333;
    -webkit-box-shadow: 0 0 20px #eee;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    cursor: pointer;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(#283048),
        color-stop(51%, #859398),
        to(#283048)
    );
    background-image: -o-linear-gradient(left, #283048 0%, #859398 51%, #283048 100%);
    background-image: linear-gradient(to right, #283048 0%, #859398 51%, #283048 100%);
}

a {
    display: block;
    text-align: center;
    color: #e0e0e0;
    text-decoration: none;
    width: 100%;
    line-height: 2.3;
}

.btn:hover {
    background-position: right center;
}

.time-code {
    font-weight: 300;
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 20px;
}

.project-item:hover .info-2 {
    bottom: 0;
}

.title-about-web {
    font-size: 2rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
    text-align: center;
    padding: 5px 20px;
}

@media only screen and (max-width: 1248px) {
    .list-project {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (max-width: 1024px) {
    .list-project {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 700px) {
    .list-project {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 500px) {
    .list-project {
        grid-template-columns: repeat(1, 1fr);
    }
}
